* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Roboto', sans-serif;
}

.container{
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo {
    height: 800px;
    background: url('../img/bg/background.png') center center/cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}

h1 {
    margin-top: 53px;
}

.title{
    color: #F9BF3B;
    font-weight: 900;
    font-size: 41px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;  
}

h2.title{
    margin-top: 30px;
}

.simple .title_big{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 21px;
}

.promo .promo_text {
    padding: 0 13px;
    margin-top: 23px;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
}

.promo .promo_text span {
    color: #F9BF3B;
    font-weight: 700;
    text-transform: uppercase;
}

.promo .promo_btn, .present .present_btn {
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    border: 4px solid rgba(0, 0, 0, 0.23);
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: inset 0 0px 0 rgba(0, 0, 0, 0.18);
    color: #FFFFFF;
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    outline: none;
}

.more{
    margin-top: 73px;
}

.more .more_text {
    font-weight: 200;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting{
    min-height: 604px;
    background: #EFEFEF;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header, .finish .finish_header {
    color: #252525;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

.finish .finish_header {
    color:#FFFFFF;
}

.waiting .waiting_divider, .finish .finish_divider {
    width: 220px;
    height: 7px;
    background: #F9BF3B;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader{
    margin-top: 17px;
    color: #4A4A4A;
    font-weight: 400;
    font-size: 23px;
    text-align: center;
}

.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item{
    width: 339px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img{
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr{
    margin-top: 33px;
    color: #4A4A4A;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
}

.optimization{
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header {
    margin-left: 391px;
    color: #299CBD;
    font-weight: 900;
    font-size: 29px;
    line-height: 12px;
    text-transform: uppercase;
}

.optimization .optimization_text {
    margin-left: 391px;
    margin-top: 25px;
    color: #4a4a4a;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
}

.optimization .optimization_text span {
    font-weight: 700;
}

.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url('../img/bg/background_2.png') center center/cover no-repeat;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background: #B4E2FF;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    color: #EFEFEF;
    text-align: center;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
}

.present {
    min-height: 631px;
    padding: 88px 0 88px 0;
    background: #EFEFEF
}

.present .present_img {
    display: block;
    margin: 0 auto;
}

.present .present_text {
    margin-top: 42px;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #252525;
}

.webinar {
    display: flex;
    margin: 0 auto;
    margin-top: 81px;
    width: 577px;
    min-height: 433px;
    text-align: center;
}

.webinar .webinar_img{
    display: block;
    margin: 0 auto;
}

.webinar .webinar_descr{
    padding: 36px 0 30px 0;
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}

.webinar .webinar_header {
    margin: 0 auto;
    color: #299CBD;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

.webinar .webinar_text {
    color: #4a4a4a;
    font-weight: 300;
    font-size: 23px;
    line-height: 20px;
    margin-top: 25px;

}

footer {
    height: 169px;
    background: #1A1A1A;
    padding: 57px 0 69px 0;
}

.footer .container .footer_text {
    
    color: #888888;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-decoration: none;
}
.footer .container .footer_link {
    text-decoration-line: underline;
}